<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  
  
  <appSettings>
    <!-- Nome do servidor FileServer -->
    <add key="NomeServer" value="\\STFBSBBD03" />
    <!-- Caminho aonde ficará a estrutura de diretórios gerados pela aplicação-->
    <add key="DiretorioServer" value="\FileServer\Gir" />
    <!-- Nome do usuário -->
    <add key="UsuarioRede" value="STFBSBBD03\casrhoxsi" />
    <!-- Senha do usuário -->
    <add key="SenhaRede" value="stefanini@10" />
	
	  <!-- Nome do servidor FileServer -->
    <!-- add key="NomeServer" value="\\andre-note" -->
    <!-- Caminho aonde ficará a estrutura de diretórios gerados pela aplicação-->
    <!-- add key="DiretorioServer" value="\FileServer\Gir" -->
    <!-- Nome do usuário -->
    <!-- add key="UsuarioRede" value="andre-note\andre" -->
    <!-- Senha do usuário -->
    <!-- add key="SenhaRede" value="cerebro23note" -->
  </appSettings>
  <connectionStrings>
    <add name="GIRConexao" connectionString="data source=STFBSBBD04;initial catalog=DB_GIR;User Id=cassi;Password=cassi;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>  
  <!-- connectionStrings>
    <add name="GIRConexao" connectionString="data source=andre-note;initial catalog=DB_GIR;Integrated Security=SSPI;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings -->
</configuration>