<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <appSettings>
    <!-- Início da Configuração da Aplicação -->
    <add key="urlPaginaErro" value="http://webdev002/Erros/Erro.htm" />
    <add key="logsAppLogger" value="C:\\AppLogs\\" />
    <add key="urlServerScripts" value="http://webdev002/commonweb" />
    <add key="urlServerStyles" value="http://webdev002/commonweb" />
    <add key="urlServerImagens" value="http://webdev002/commonweb" />
    <add key="EmailTeste" value="hcnascimento@stefanini.com" />
    <!-- Nome do servidor FileServer -->
    <add key="NomeServer" value="\\andrenote" />
    <!-- Caminho aonde ficará a estrutura de diretórios gerados pela aplicação-->
    <add key="DiretorioServer" value="\FileServer\Gir"/>
    <add key="UsuarioRede" value="andrenote\andre"/>
    <add key="SenhaRede" value="cerebro23note"/>
    <!-- Fim da Configuração da Aplicação -->
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="GIRConexao" connectionString="data source=andrenote;initial catalog=DB_GIR;Integrated Security=SSPI;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0" debug="true" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="http://webdev002:5250/GASC/Usuario/Login" />
    </authentication>
    <machineKey validationKey="AutoGenerate" decryptionKey="AutoGenerate" validation="SHA1" />
  </system.web>
  <system.web>
    <!-- maxRequestLength for asp.net, in KB -->
    <!-- ISS 6 or lower -->
    <httpRuntime maxRequestLength="51200"></httpRuntime>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- maxAllowedContentLength, for IIS, in bytes -->
        <!-- ISS 7 or Higher -->
        <requestLimits maxAllowedContentLength="52428800"></requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServicoGASC" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="true" bypassProxyOnLocal="false" maxBufferPoolSize="5242880" maxReceivedMessageSize="6553600" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="40960" maxNameTableCharCount="163840" />
        </binding>
        <binding name="UtilitarioConsultaSOAP" />
        <binding name="BasicHttpBinding_IServicoUnidadeOrganizacional" maxReceivedMessageSize="76553600"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://webdev002:5323/GASC/ServicoGASC.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicoGASC" contract="WsServicoGASC.IServicoGASC" name="BasicHttpBinding_IServicoGASC" />
      <endpoint address="http://10.1.100.26:8011/ServicoUtilitarioConsulta/Proxy/UtilitarioConsulta" binding="basicHttpBinding" bindingConfiguration="UtilitarioConsultaSOAP" contract="ServicoUtilitarioConsulta.UtilitarioConsulta" name="UtilitarioConsultaSOAPQSPort" />
      <endpoint address="http://webdev002:5323/ServicoUnidadeOrganizacional/ServicoUnidadeOrganizacional.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicoUnidadeOrganizacional" contract="ServicoUnidadeOrganizacional.IServicoUnidadeOrganizacional" name="BasicHttpBinding_IServicoUnidadeOrganizacional" />
    </client>
  </system.serviceModel>
</configuration>