<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicoGASC" />
                <binding name="UtilitarioConsultaSOAP" />
                <binding name="ServicoEmailBinding" messageEncoding="Mtom" />
                <binding name="BasicHttpBinding_IServicoUnidadeOrganizacional" />
                <binding name="BasicHttpBinding_IServicoColaborador" />
                <binding name="ServicoConsultaFornecedorSOAP" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://webdev002:5323/GASC/ServicoGASC.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicoGASC"
                contract="ServicoGASC.IServicoGASC" name="BasicHttpBinding_IServicoGASC" />
            <endpoint address="http://10.1.100.26:8011/ServicoUtilitarioConsulta/Proxy/UtilitarioConsulta"
                binding="basicHttpBinding" bindingConfiguration="UtilitarioConsultaSOAP"
                contract="ServicoUtilitarioConsulta.UtilitarioConsulta" name="UtilitarioConsultaSOAPQSPort" />
            <endpoint address="http://10.1.100.26:8011/ServicoComunicacao/EnviarEmail"
                binding="basicHttpBinding" bindingConfiguration="ServicoEmailBinding"
                contract="ServicoComunicacao.ServicoEmailPort" name="ServicoEmail" />
            <endpoint address="http://webdev002:5323/ServicoUnidadeOrganizacional/ServicoUnidadeOrganizacional.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicoUnidadeOrganizacional"
                contract="ServicoUnidadeOrganizacional.IServicoUnidadeOrganizacional"
                name="BasicHttpBinding_IServicoUnidadeOrganizacional" />
            <endpoint address="http://10.1.100.26:8011/ServicoConsultaFornecedor/Proxy/V1/Consultafornecedor"
                binding="basicHttpBinding" bindingConfiguration="ServicoConsultaFornecedorSOAP"
                contract="ServicoFornecedor.ServicoConsultaFornecedor" name="ServicoConsultaFornecedorSOAPQSPort" />
            <endpoint address="http://10.1.100.26:8011/ServicoConsultaColaborador/Proxy/V1/ConsultaColaborador"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicoColaborador"
                contract="ServicoColaborador.IServicoColaborador" name="BasicHttpBinding_IServicoColaboradorQSPort" />
        </client>
    </system.serviceModel>
</configuration>